<div class="half-wrapper">
  <div>
    <mat-card class="download-card">
      <h1>Download</h1>
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="Select version" [(ngModel)]="selectedVersion" (change)="selectVersion($event.value)">
            <mat-option *ngFor="let version of allVersions" [value]="version">
              {{version}}
            </mat-option>
          </mat-select>
        </mat-form-field>
       
        <button mat-raised-button color="accent" (click)="startDownloading()">Download</button>
      </mat-card-content>
      <mat-card-content *ngIf="downloading">
        <p>
          <ng-container *ngIf="remaining > 0">
            Download starting in {{remaining}} seconds.
          </ng-container>
          <ng-container *ngIf="remaining <= 0">
            Download started.
          </ng-container>
          <br/>
          Click <a (click)="clickHere($event)">here</a> if the download does not start automatically.
        </p>
      </mat-card-content>
    </mat-card>


    <mat-card class="instructions-card">
      <h2>Instructions</h2>
      <mat-card-content>
        <ol>
          <li>
            Download the .zip file and extract it in a folder of your choice
          </li>
          <li>
            If you are updating from an older version just extract the .zip file in your existing MatchmakingMonitor folder
          </li>
          <li>
            Start the .exe
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <h2>Changelogs</h2>
      <mat-card-content>
        <div class="changelog-wrapper">
          <mat-list *ngIf="changelogs">
            <a mat-list-item (click)="openChangelog(c)" *ngFor="let c of changelogs"> {{c}} </a>
          </mat-list>
          <p *ngIf="changelogs && changelogs.length === 0">
            No changelogs found
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>