<mat-card>
  <h1>Welcome</h1>
  <mat-card-content>
    <p>
      This is just a small website to provide the downloads and some information about the app.
    </p>
    <button mat-raised-button routerLink="/download" color="accent">Downloads / Changelogs</button>
  </mat-card-content>
</mat-card>
<div class="spacer-hor"></div>
<div class="half-wrapper">
  <div>
    <mat-card>
      <h2>Report bug / Request feature</h2>
      <mat-card-content>
        <p>
          If you are familiar with <a href="https://github.com" target="_blank">github</a> you can submit an issue <a href="https://github.com/jammin411/MatchmakingMonitor/issues" target="_blank">here,</a> otherwise you can use this form.
        </p>
        <p>
          Please submit bug and feature reports only for the latest version available
        </p>
        <!--<form [formGroup]="form" (ngSubmit)="submit(form.value)" *ngIf="!formSend">
          <div class="row">
            <mat-radio-group formControlName="mode">
              <mat-radio-button value="0">Bug</mat-radio-button>
              <mat-radio-button value="1">Feature</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="row">
            <mat-input-container class="full-width">
              <input #title maxlength="70" formControlName="title" matInput placeholder="Title">
              <mat-hint align="end">{{title.value.length}} / 70</mat-hint>
            </mat-input-container>
          </div>
          <div class="row">
            <mat-input-container class="full-width">
              <input #title maxlength="70" formControlName="contact" matInput placeholder="Contact me here">
            </mat-input-container>
          </div>
          <div class="row">
            <mat-input-container class="full-width">
              <textarea formControlName="message" matInput placeholder="Message"></textarea>
            </mat-input-container>
          </div>
          <div class="row form-error" *ngIf="formError">
            <span>{{formError}}</span>
          </div>

          <button mat-raised-button type="submit" color="accent">Submit</button>
        </form>
        <p *ngIf="formSend" class="centered">
          Thank you for your feedback!
        </p>-->
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <h2>Discord</h2>
      <mat-card-content>
        <p>
          If you need extended support or just want to chat about the application, join the <a href="https://discord.gg/Tds7WBs">discord server</a>.
        </p>
        <iframe src="https://discordapp.com/widget?id=400771138633859099&theme=dark" allowtransparency="true" frameborder="0"></iframe>
      </mat-card-content>
    </mat-card>
  </div>
</div>