<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MatchingMakingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MatchingMakingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MatchingMakingMonitor.Properties.Settings>
            <setting name="InstallDirectory" serializeAs="String">
                <value>C:\Games\World_of_Warships</value>
            </setting>
            <setting name="LastReplay" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value />
            </setting>
            <setting name="Overall9" serializeAs="String">
                <value>#401070</value>
            </setting>
            <setting name="Overall8" serializeAs="String">
                <value>#793db6</value>
            </setting>
            <setting name="Overall7" serializeAs="String">
                <value>#3972c6</value>
            </setting>
            <setting name="Overall6" serializeAs="String">
                <value>#4099bf</value>
            </setting>
            <setting name="Overall5" serializeAs="String">
                <value>#4d7326</value>
            </setting>
            <setting name="Overall4" serializeAs="String">
                <value>#ccb800</value>
            </setting>
            <setting name="Overall3" serializeAs="String">
                <value>#cc7a00</value>
            </setting>
            <setting name="Overall2" serializeAs="String">
                <value>#cd3333</value>
            </setting>
            <setting name="Overall1" serializeAs="String">
                <value>#930d0d</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </MatchingMakingMonitor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MatchingMakingMonitor.Properties.Settings>
            <setting name="AppId" serializeAs="String">
                <value>04c8800d343d496e7ae9c94ba6e51a0b</value>
            </setting>
            <setting name="AppIdEU" serializeAs="String">
                <value>8c4616d4f59f9e915d214c514f7661f2</value>
            </setting>
            <setting name="AppIdRU" serializeAs="String">
                <value>92669bcd3cb4978e78a387bdc2e7f8d6</value>
            </setting>
            <setting name="AppIdSEA" serializeAs="String">
                <value>a7079ba49e5487b6936aed9176c13968</value>
            </setting>
        </MatchingMakingMonitor.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
