<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MatchMakingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MatchMakingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MatchMakingMonitor.Properties.Settings>
            <setting name="InstallDirectory" serializeAs="String">
                <value>C:\Games\World_of_Warships</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="Color9" serializeAs="String">
                <value>#401070</value>
            </setting>
            <setting name="Color8" serializeAs="String">
                <value>#793db6</value>
            </setting>
            <setting name="Color7" serializeAs="String">
                <value>#3972c6</value>
            </setting>
            <setting name="Color6" serializeAs="String">
                <value>#4099bf</value>
            </setting>
            <setting name="Color5" serializeAs="String">
                <value>#4d7326</value>
            </setting>
            <setting name="Color4" serializeAs="String">
                <value>#ccb800</value>
            </setting>
            <setting name="Color3" serializeAs="String">
                <value>#cc7a00</value>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value>#cd3333</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value>#930d0d</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="BattleLimits" serializeAs="String">
                <value>150; 100; 80; 60; 40; 30; 20; 10; 0</value>
            </setting>
            <setting name="WinLimits" serializeAs="String">
                <value>90; 80; 70; 60; 50; 40; 30; 20; 0</value>
            </setting>
            <setting name="FragsLimits" serializeAs="String">
                <value>1,5; 1,3; 1,1; 1,0; 0,8; 0,6; 0,4; 0,2; 0</value>
            </setting>
            <setting name="XpLimits" serializeAs="String">
                <value>1500; 1200; 1000; 900; 800; 600; 500; 400; 0</value>
            </setting>
            <setting name="DmgLimits" serializeAs="String">
                <value>75000; 65000; 55000; 45000; 35000; 25000; 15000; 10000; 0</value>
            </setting>
            <setting name="BattleWeight" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="FragsWeight" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="XpWeight" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="DmgWeight" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="WinWeight" serializeAs="String">
                <value>1</value>
            </setting>
        </MatchMakingMonitor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MatchMakingMonitor.Properties.Settings>
            <setting name="AppIdNA" serializeAs="String">
                <value>04c8800d343d496e7ae9c94ba6e51a0b</value>
            </setting>
            <setting name="AppIdEU" serializeAs="String">
                <value>8c4616d4f59f9e915d214c514f7661f2</value>
            </setting>
            <setting name="AppIdRU" serializeAs="String">
                <value>92669bcd3cb4978e78a387bdc2e7f8d6</value>
            </setting>
            <setting name="AppIdSEA" serializeAs="String">
                <value>a7079ba49e5487b6936aed9176c13968</value>
            </setting>
            <setting name="BaseUrlNA" serializeAs="String">
                <value>https://api.worldofwarships.com</value>
            </setting>
            <setting name="BaseUrlEU" serializeAs="String">
                <value>https://api.worldofwarships.eu</value>
            </setting>
            <setting name="BaseUrlRU" serializeAs="String">
                <value>https://api.worldofwarships.ru</value>
            </setting>
            <setting name="BaseUrlSEA" serializeAs="String">
                <value>https://api.worldofwarships.asia</value>
            </setting>
        </MatchMakingMonitor.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
