<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MatchingMakingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MatchingMakingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MatchingMakingMonitor.Properties.Settings>
            <setting name="InstallDirectory" serializeAs="String">
                <value>C:\Games\World_of_Warships</value>
            </setting>
            <setting name="LastReplay" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value />
            </setting>
            <setting name="Overall9" serializeAs="String">
                <value>184,0,169</value>
            </setting>
            <setting name="Overall8" serializeAs="String">
                <value>0,148,17</value>
            </setting>
            <setting name="Overall7" serializeAs="String">
                <value>106,188,0</value>
            </setting>
            <setting name="Overall6" serializeAs="String">
                <value>155,188,0</value>
            </setting>
            <setting name="Overall5" serializeAs="String">
                <value>188,181,0</value>
            </setting>
            <setting name="Overall4" serializeAs="String">
                <value>255,174,0</value>
            </setting>
            <setting name="Overall3" serializeAs="String">
                <value>255,114,0</value>
            </setting>
            <setting name="Overall2" serializeAs="String">
                <value>255,66,0</value>
            </setting>
            <setting name="Overall1" serializeAs="String">
                <value>255, 0, 0</value>
            </setting>
        </MatchingMakingMonitor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MatchingMakingMonitor.Properties.Settings>
            <setting name="AppId" serializeAs="String">
                <value>04c8800d343d496e7ae9c94ba6e51a0b</value>
            </setting>
            <setting name="AppIdEU" serializeAs="String">
                <value>8c4616d4f59f9e915d214c514f7661f2</value>
            </setting>
            <setting name="AppIdRU" serializeAs="String">
                <value>92669bcd3cb4978e78a387bdc2e7f8d6</value>
            </setting>
            <setting name="AppIdSEA" serializeAs="String">
                <value>a7079ba49e5487b6936aed9176c13968</value>
            </setting>
        </MatchingMakingMonitor.Properties.Settings>
    </applicationSettings>
</configuration>